@import 'variables';
@import 'mixins';

*:focus, *:hover { outline: none !important; }

a { @include prefix(transition,.3s); }

body { margin: 0; padding: 0; font-family: $fontDefault; background: $verdeClaro; }

.loading {position: fixed; z-index: 99999; left: 0; top: 0; right: 0; bottom: 0; background: rgba(black,.5);}
