@import 'variables';
@import 'mixins';

section {position: absolute; top: 30%; height: 70%; left: 0; width: 100%; }

.pokemon-combo { border-radius: 50px; border:0; height: 30px; padding: 0 10px;}

.dialog {padding: 30px; position: relative; font-size: 20px; color: black; background: linear-gradient(to bottom, $amarelo 0%, $amarelo 50%, mix(black, $amarelo, 10%) 100%); margin-top: 10%; margin-bottom: 50px; box-shadow: 0 0 10px rgba(black,.3); border-radius: 20px 0 20px 20px;
    &:before {content:''; width: 0; position: absolute; left: 100%; top: 0; height: 0; border-style: solid; border-width: 30px 30px 0 0; border-color: $amarelo transparent transparent transparent;}
}

.ng-select.ng-select-single .ng-select-container {background: $azul;}

.ash {@include bg("ash.png", no-repeat center top); background-size: cover;}